<div *ngIf="!sprintService.sprint"><h2>{{ 'loading' | translate }}...</h2></div>
<div *ngIf="sprintService.sprint">
    <h1>{{ sprintService.sprint.name }}</h1>

    <p>
        {{ sprintService.sprint | json }}
    </p>

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                    {{ 'initial.duration' | translate }}
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 bold">
                    {{ sprintService.initialDuration | duration:'hour' }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                    {{ 'added.duration' | translate }}
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 bold">
                    {{ sprintService.addedDuration | duration:'hour' }}
                    <span class="normal">
                        ({{ sprintService.addedDuration / sprintService.totalDuration * 100 | percentFr }})
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                    {{ 'total.duration' | translate }}
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 bold">
                    {{ sprintService.totalDuration | duration:'hour' }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                    {{ 'remaining.duration' | translate }}
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 bold">
                    {{ sprintService.remainingDuration | duration:'hour' }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                    {{ 'total.tasks.duration' | translate }}
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 bold">
                    {{ sprintService.totalTaskUserDuration | duration:'hour' }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                    {{ 'total.worked.duration' | translate }}
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 bold">
                    {{ sprintService.totalTaskUserWorkedDuration | duration:'hour' }}
                </div>
            </div>
        </div>
    </div>
</div>
