<sa-loading *ngIf="loading"></sa-loading>
<div *ngIf="!loading">
    <h1>{{ 'parameters' | translate }}</h1>

    <form class="form-horizontal SprintParameters" [formGroup]="parametersFormGroup" (ngSubmit)="saveParameters()">
        <div class="row margin-bottom-20px">
            <div class="col-xs-12">
                <button mat-raised-button type="button"
                        routerLink="/sprints"
                        [routerLinkActiveOptions]="{exact: false}"
                        routerLinkActive="true">
                    <mat-icon>keyboard_arrow_left</mat-icon>
                    <span>{{ 'sprints.list' | translate }}</span>
                </button>
                &nbsp;&nbsp;
                <button mat-raised-button color="primary" [disabled]="parametersFormGroup.invalid">
                    <mat-icon>save</mat-icon>
                    <span>{{ 'save' | translate }}</span>
                </button>
            </div>
        </div>

        <mat-card class="margin-bottom-20px">
            <mat-card-content>
                <div class="row">
                    <p class="col-xs-12 col-sm-6 col-mat-4">
                        <mat-input-container class="width-100">
                            <input matInput type="text" name="name"
                                   [placeholder]="'name' | translate"
                                   formControlName="name"
                                   maxlength="50"
                                   autofocus required>
                            <mat-hint align="end">{{ parametersFormGroup.get('name').value.length }} / 50</mat-hint>
                            <mat-error *ngIf="parametersFormGroup.get('name').hasError('required')">
                                {{ 'required.name' | translate }}
                            </mat-error>
                        </mat-input-container>
                    </p>
                </div>
                
                <div class="row">
                    <p class="col-xs-12 col-sm-6 col-mat-4">
                        <mat-form-field class="width-100">
                            <input matInput [matDatepicker]="picker" [placeholder]="'started.at' | translate"
                                   formControlName="startedAt" required>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-error *ngIf="parametersFormGroup.get('startedAt').hasError('required')">
                                {{ 'required.date.begin' | translate }}
                            </mat-error>
                        </mat-form-field>
                    </p>
                </div>

                <div class="row SprintParameters-Users">
                    <div class="col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                {{ 'team' | translate }}
                                <span class="green-color">{{ sprint.teamName }}</span>
                            </div>

                            <div class="panel-body">
                                <div *ngIf="usersInSprint.length > 0" class="SprintParameters-Users-Add">
                                    <div *ngFor="let user of usersInSprint; index as index"
                                         class="SprintParameters-Users-Add-container">
                                        <div class="users-avatar SprintParameters-Users-Add-avatar"
                                             [style.background-image]="'url(' + userService.getGravatarUrl2(user.email, 24) + ')'">
                                        </div>
                                        <div class="SprintParameters-Users-Add-name"
                                             [class.bold]="userService.user.id === user.id">
                                            {{ user.name }}
                                        </div>
                                        <div class="SprintParameters-Users-Add-delete">
                                            <button mat-mini-fab
                                                    color="warn"
                                                    type="button"
                                                    (click)="deleteUser(index)"
                                                    [disabled]="userService.user.id === user.id">
                                                <mat-icon>delete</mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="margin-top-10px" *ngIf="usersNotInSprint.length > 0">
                                    <p class="bold">{{ 'add.user.to.sprint' | translate }}</p>
                                    <div class="row margin-top-20px">
                                        <div class="col-xs-12 col-sm-8">
                                            <mat-form-field class="width-100">
                                                <mat-select [placeholder]="'choose.user' | translate"
                                                            [(ngModel)]="userIndexToAdd"
                                                            [ngModelOptions]="{standalone: true}">
                                                    <mat-option>{{ 'none' | translate }}</mat-option>
                                                    <mat-option *ngFor="let user of usersNotInSprint; index as indexAdd"
                                                            [value]="indexAdd">
                                                        {{ user.name }}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="xs-12 visible-xs margin-top-10px">&nbsp;</div>
                                        <div class="col-xs-12 col-sm-4">
                                            <button mat-raised-button type="button" color="primary"
                                                    class="SprintParameters-Users-Delete-add"
                                                    (click)="addUser(userIndexToAdd)">
                                                <mat-icon>add</mat-icon>
                                                {{ 'add' | translate }}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card-content>

            <mat-card-actions>
                <button mat-raised-button type="button"
                        routerLink="/sprints"
                        [routerLinkActiveOptions]="{exact: false}"
                        routerLinkActive="true">
                    <mat-icon>keyboard_arrow_left</mat-icon>
                    <span>{{ 'sprints.list' | translate }}</span>
                </button>
                &nbsp;&nbsp;
                <button mat-button color="primary" [disabled]="parametersFormGroup.invalid">
                    <mat-icon>save</mat-icon>
                    <span>{{ 'save' | translate }}</span>
                </button>
            </mat-card-actions>
        </mat-card>
    </form>
</div>
