<div *ngIf="!sprintService.sprint"><h2>Loading...</h2></div>
<div *ngIf="sprintService.sprint">
    <h1>{{ sprintService.sprint.name }}</h1>

    <p>
        {{ sprintService.sprint | json }}
    </p>

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-xs-6 col-md-2">
                {{ 'initial.duration' | translate }}
            </div>
            <div class="col-xs-6 col-md-2 bold">
                {{ sprintService.initialDuration | duration:'hour' }}
            </div>
            <div class="col-xs-6 col-md-2">
                {{ 'added.duration' | translate }}
            </div>
            <div class="col-xs-6 col-md-2 bold">
                {{ sprintService.addedDuration | duration:'hour' }}
                ({{ sprintService.addedDuration / sprintService.totalDuration * 100 | percentFr }})
            </div>
            <div class="col-xs-6 col-md-2">
                {{ 'total.duration' | translate }}
            </div>
            <div class="col-xs-6 col-md-2 bold">
                {{ sprintService.totalDuration | duration:'hour' }}
            </div>
            <div class="col-xs-6 col-md-2">
                {{ 'remaining.duration' | translate }}
            </div>
            <div class="col-xs-6 col-md-2 bold">
                {{ sprintService.remainingDuration | duration:'hour' }}
            </div>
            <div class="col-xs-6 col-md-2">
                {{ 'total.worked.duration' | translate }}
            </div>
            <div class="col-xs-6 col-md-2 bold">
                TODO
            </div>
        </div>
    </div>
</div>
