<sa-loading *ngIf="loading"></sa-loading>
<div *ngIf="!loading" class="SprintsList">
    <h1>{{ 'sprints.list' | translate }}</h1>

    <div class="btn-group" role="group">
        <button mat-raised-button (click)="getSprints('inProgress')"
                [color]="(state === 'inProgress') ? 'primary' : ''">
            {{ 'sprint.in.progress.list' | translate }}
        </button>
        &nbsp;&nbsp;
        <button mat-raised-button (click)="getSprints('finished')"
                [color]="(state === 'finished') ? 'primary' : ''">
            {{ 'sprint.finished.list' | translate }}
        </button>
        &nbsp;&nbsp;
        <button mat-raised-button type="button" color="accent"
                [routerLink]="['/sprints/new']"
                routerLinkActive="true"
                [routerLinkActiveOptions]="{exact: false}">
            {{ 'new.sprint' | translate }}
        </button>
    </div>

    <div class="margin-bottom-20px">
        <mat-card class="SprintsList-Sprint"
                 *ngFor="let sprint of sprints"
                 (click)="redirectToTasksManagement(sprint)">
            <mat-card-header class="SprintsList-Sprint-Header">
                <mat-card-title color="primary" class="SprintsList-Sprint-Header-title">
                    <h4 class="primary-color">{{ sprint.name }}</h4>
                    <div class="SprintsList-Sprint-Menu">
                        <button mat-icon-button [matMenuTriggerFor]="menu"
                                class="grey-700-color"
                                (click)="$event.stopPropagation()">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item
                                    [routerLink]="['/sprints', sprint.id, 'tasks']"
                                    routerLinkActive="true"
                                    [routerLinkActiveOptions]="{exact: false}">
                                <mat-icon>list</mat-icon>
                                <span>{{ 'tasks.list' | translate }}</span>
                            </button>
                            <button mat-menu-item
                                    [routerLink]="['/sprints', sprint.id, 'statistics']"
                                    routerLinkActive="true"
                                    [routerLinkActiveOptions]="{exact: false}">
                                <mat-icon>show_chart</mat-icon>
                                <span>{{ 'statistics' | translate }}</span>
                            </button>
                            <button mat-menu-item
                                    [routerLink]="['/sprints', sprint.id, 'parameters']"
                                    routerLinkActive="true"
                                    [routerLinkActiveOptions]="{exact: false}">
                                <mat-icon>settings</mat-icon>
                                <span>{{ 'parameters' | translate }}</span>
                            </button>
                            <button mat-menu-item *ngIf="sprint.finishedAt === null"
                                    (click)="deleteSprint(sprint)">
                                <mat-icon>delete</mat-icon>
                                <span>{{ 'delete' | translate }}</span>
                            </button>
                        </mat-menu>
                    </div>
                </mat-card-title>
                <mat-card-subtitle>{{ 'team:' | translate }} <b>{{ sprint.teamName }}</b></mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
                <div class="list-group-item-text">
                    <div class="row SprintsList-Sprint-info">
                        <div class="SprintsList-Sprint-label">{{ 'created.at' | translate }}</div>
                        <div class="SprintsList-Sprint-value">{{ sprint.createdAt | date:"dd/MM/yyyy" }}</div>
                    </div>
                    <div class="row SprintsList-Sprint-info">
                        <div class="SprintsList-Sprint-label">{{ 'started.at' | translate }}</div>
                        <div class="SprintsList-Sprint-value">{{ sprint.startedAt | date:"dd/MM/yyyy" }}</div>
                    </div>
                    <div class="row SprintsList-Sprint-info">
                        <div class="SprintsList-Sprint-label">{{ 'estimated.end.date' | translate }}</div>
                        <div class="SprintsList-Sprint-value">
                            <span *ngIf="sprint.estimatedFinishedAt !== null" class="bold accent-color">
                                {{ sprint.estimatedFinishedAt | date:"dd/MM/yyyy" }}
                            </span>
                            <span *ngIf="sprint.estimatedFinishedAt === null">-</span>
                        </div>
                    </div>
                    <div class="row SprintsList-Sprint-info" *ngIf="sprint.finishedAt">
                        <div class="SprintsList-Sprint-label">{{ 'finished.at' | translate }}</div>
                        <div class="SprintsList-Sprint-value">{{ sprint.finishedAt | date:"dd/MM/yyyy" }}</div>
                    </div>
                    <div class="row SprintsList-Sprint-info">
                        <div class="SprintsList-Sprint-label">{{ 'remaining.duration' | translate }}</div>
                        <div class="SprintsList-Sprint-value">
                            <span class="bold accent-color">
                                {{ sprint.remainingDuration | duration:'hour' }}
                            </span>
                        </div>
                    </div>
                    <div class="row SprintsList-Sprint-info">
                        <div class="SprintsList-Sprint-label">{{ 'decrement.duration' | translate }}</div>
                        <div class="SprintsList-Sprint-value">
                            {{ sprint.decrementedDuration | duration:'hour' }}
                            ({{ sprint.decrementedDurationPerDay | duration:'hour' }} / {{ 'day' | translate }})
                        </div>
                    </div>
                    <div class="row SprintsList-Sprint-info">
                        <div class="SprintsList-Sprint-label">{{ 'worked.duration' | translate }}</div>
                        <div class="SprintsList-Sprint-value">
                            {{ sprint.workedDuration | duration:'hour' }}
                            ({{ sprint.workedDurationPerDay | duration:'hour' }} / {{ 'day' | translate }})
                        </div>
                    </div>
                    <div class="row SprintsList-Sprint-info">
                        <div class="SprintsList-Sprint-label">{{ 'performance' | translate }}</div>
                        <div class="SprintsList-Sprint-value">
                            <span class="bold accent-color">{{ sprint.performance | percentFr:0 }}</span>
                        </div>
                    </div>
                    <div class="row SprintsList-Sprint-info">
                        <div class="SprintsList-Sprint-label">{{ 'added.tasks' | translate }}</div>
                        <div class="SprintsList-Sprint-value">
                            {{ sprint.tasksAddedPercent | percentFr:0 }}
                        </div>
                    </div>

                    <div class="row margin-bottom-20px margin-top-10px">
                        <div class="col-xs-12 text-center small">
                            <div>{{ sprint.progressPercent | percentFr }}</div>
                            <mat-progress-bar color="primary" mode="determinate" [value]="sprint.progressPercent">
                            </mat-progress-bar>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        
        <mat-card *ngIf="sprints?.length === 0" class="margin-top-20px">
            <mat-card-content class="overflow-auto">
                {{ 'no.sprint' | translate }}
            </mat-card-content>
        </mat-card>
    </div>
</div>
