<div class="margin-bottom-20px">
	<h1>{{ 'new.sprint' | translate }}</h1>
	
	<form class="form-horizontal" [formGroup]="sprintFormGroup" (ngSubmit)="newSprint()">
		<mat-card>
			<mat-card-content>
				<div class="row margin-bottom-20px">
					<div class="col-xs-12">
						<button mat-raised-button type="button"
								[routerLink]="['/sprints']"
								[routerLinkActiveOptions]="{exact: false}"
								routerLinkActive="true">
							<mat-icon>keyboard_arrow_left</mat-icon>
							<span class="hidden-xs">{{ 'sprints.list' | translate }}</span>
						</button>
						&nbsp;&nbsp;
						<button mat-raised-button type="submit"
								color="primary"
								[disabled]="sprintFormGroup.invalid">
							<mat-icon>add</mat-icon>
							<span class="hidden-xs">{{ 'create' | translate }}</span>
						</button>
					</div>
				</div>

				<div class="row">
					<p class="col-xs-12 col-sm-6 col-mat-4">
						<mat-input-container class="width-100">
							<input matInput type="text" name="name"
								   [placeholder]="'name' | translate"
								   formControlName="name"
								   maxlength="50"
								   autofocus required>
							<mat-hint align="end">{{ sprintFormGroup.get('name').value.length }} / 50</mat-hint>
							<mat-error *ngIf="sprintFormGroup.get('name').hasError('required')">
								{{ 'required.name' | translate }}
							</mat-error>
						</mat-input-container>
					</p>
				</div>

				<div class="row">
					<p class="col-xs-12 col-sm-6 col-mat-4">
						<mat-form-field class="width-100">
							<mat-select [placeholder]="'team' | translate"
										formControlName="team" required>
								<mat-option>{{ 'none' | translate }}</mat-option>
								<mat-option *ngFor="let team of userService.user.teams" [value]="team.id">
									{{ team.name }}
								</mat-option>
							</mat-select>
						</mat-form-field>
					</p>
				</div>

				<div class="row margin-top-20px">
					<p class="col-xs-12 col-sm-6 col-mat-4">
						<mat-form-field class="width-100">
							<input matInput [matDatepicker]="picker" [placeholder]="'started.at' | translate"
								   formControlName="startedAt"
								   required>
							<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
							<mat-datepicker #picker></mat-datepicker>
							<mat-error *ngIf="sprintFormGroup.get('startedAt').hasError('required')">
								{{ 'required.date' | translate }}
							</mat-error>
						</mat-form-field>
					</p>
				</div>

				<div class="row margin-top-20px margin-bottom-20px">
					<div class="col-xs-12">
						<button mat-raised-button type="button"
								[routerLink]="['/sprints']"
								[routerLinkActiveOptions]="{exact: false}"
								routerLinkActive="true">
							<mat-icon>keyboard_arrow_left</mat-icon>
							<span class="hidden-xs">{{ 'sprints.list' | translate }}</span>
						</button>
						&nbsp;&nbsp;
						<button mat-raised-button type="submit"
								color="primary"
								[disabled]="sprintFormGroup.invalid">
							<mat-icon>add</mat-icon>
							<span class="hidden-xs">{{ 'create' | translate }}</span>
						</button>
					</div>
				</div>
			</mat-card-content>
		</mat-card>
	</form>	
</div>
