<div *ngIf="!sprintService.sprint"><h2>{{ 'loading' | translate }}...</h2></div>
<div *ngIf="sprintService.sprint">
    <h1>{{ sprintService.sprint.name }}</h1>

    <div class="row margin-bottom-20px">
        <div class="col-xs-12">
            <button md-raised-button type="button"
                    routerLink="/sprints">
				<md-icon>keyboard_arrow_left</md-icon>
                <span class="hidden-xs">{{ 'sprints.list' | translate }}</span>
            </button>
        </div>
    </div>

    <md-card class="margin-bottom-20px">
        <md-card-content>
            <div class="row">
                <div class="col-xs-12 col-sm-7 col-md-6 col-lg-6">
                    <div class="row">
                        <div class="col-xs-7 text-right">
                            {{ 'initial.duration' | translate }}
                        </div>
                        <div class="col-xs-5 bold">
                            {{ sprintService.initialDuration | duration:'hour' }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-7 text-right">
                            {{ 'added.duration' | translate }}
                        </div>
                        <div class="col-xs-5 bold">
                            {{ sprintService.addedDuration | duration:'hour' }}
                            <span class="normal">
                                ({{ sprintService.addedDuration / sprintService.totalDuration * 100 | percentFr }})
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-7 text-right">
                            {{ 'total.duration' | translate }}
                        </div>
                        <div class="col-xs-5 bold">
                            {{ sprintService.totalDuration | duration:'hour' }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-7 text-right">
                            {{ 'total.duration.per.user' | translate }}
                        </div>
                        <div class="col-xs-5 bold">
                            {{ sprintService.totalDuration / sprintService.averageWorkedHoursPerDay | duration:'hour' }} / pers.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-7 text-right">
                            {{ 'remaining.duration' | translate }}
                        </div>
                        <div class="col-xs-5 bold">
                            {{ sprintService.remainingDuration | duration:'hour' }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-7 text-right">
                            {{ 'remaining.duration.per.user' | translate }}
                        </div>
                        <div class="col-xs-5 bold">
                            {{ sprintService.remainingDuration / sprintService.averageWorkedHoursPerDay | duration:'hour' }} / pers.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-7 text-right">
                            {{ 'total.tasks.duration' | translate }}
                        </div>
                        <div class="col-xs-5 bold">
                            {{ sprintService.totalTaskUserDuration | duration:'hour' }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-7 text-right">
                            {{ 'total.worked.duration' | translate }}
                        </div>
                        <div class="col-xs-5 bold">
                            {{ sprintService.totalTaskUserWorkedDuration | duration:'hour' }}
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-5 col-md-offset-1 col-md-4 col-lg-offset-1 col-lg-4">
                    <canvas baseChart height="160px"
                            class="hidden-xs"
                            [data]="pieChartTotalRemainingHours.data"
                            [labels]="pieChartTotalRemainingHours.labels"
                            [chartType]="pieChartTotalRemainingHours.type"
                            [options]="{responsive: false}"></canvas>
                    <canvas baseChart height="120px"
                            class="visible-xs"
                            [data]="pieChartTotalRemainingHours.data"
                            [labels]="pieChartTotalRemainingHours.labels"
                            [chartType]="pieChartTotalRemainingHours.type"
                            [options]="{responsive: true}"></canvas>
                </div>
            </div>
        </md-card-content>
    </md-card>

    <md-card class="margin-bottom-20px">
        <md-card-content class="no-wrap">
            <table class="table table-striped table-bordered table-hover table-condensed table-responsive">
                <thead>
                    <tr>
                        <th>{{ 'name' | translate }}</th>
                        <th>{{ 'decrement.duration' | translate }}</th>
                        <th>{{ 'worked.duration' | translate }}</th>
                        <th class="visible-xs">{{ 'coef' | translate }}</th>
                        <th class="hidden-xs">{{ 'coefficient' | translate }}</th>
                        <th class="visible-xs">{{ 'perf' | translate }}</th>
                        <th class="hidden-xs">{{ 'performance' | translate }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of sprintService.usersInformation">
                        <td align="left" valign="middle">{{ user.name }}</td>
                        <td class="text-center" valign="middle">{{ user.duration | duration:'hour' }}</td>
                        <td class="text-center" valign="middle">{{ user.workedDuration | duration:'hour' }}</td>
                        <td class="text-center" valign="middle">{{ user.coefficient | numberFr:'1' }}</td>
                        <td class="text-center" valign="middle">{{ user.performance | percentFr:0 }}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th align="left" valign="middle">
                            {{ 'total' | translate }}
                        </th>
                        <th class="text-center" valign="middle">
                            {{ sprintService.usersTotalInformation.duration | duration:'hour' }}
                        </th>
                        <th class="text-center" valign="middle">
                            {{ sprintService.usersTotalInformation.workedDuration | duration:'hour' }}
                        </th>
                        <th class="visible-xs text-center">
                            {{ sprintService.usersTotalInformation.coefficient | numberFr:'1' }}
                        </th>
                        <th class="hidden-xs text-center">
                            {{ sprintService.usersTotalInformation.coefficient | numberFr:'1' }}
                        </th>
                        <th class="visible-xs text-center">
                            {{ sprintService.usersTotalInformation.performance | percentFr:0 }}
                        </th>
                        <th class="hidden-xs text-center">
                            {{ sprintService.usersTotalInformation.performance | percentFr:0 }}
                        </th>
                    </tr>
                </tfoot>
            </table>
        </md-card-content>
    </md-card>

    <md-card class="margin-bottom-20px">
        <md-card-content>
            <div class="row margin-bottom-20px">
                <div class="col-xs-12">
                    <canvas baseChart height="80px"
                        class="hidden-xs"
                        [datasets]="lineChartUsesCoefficient.datasets"
                        [labels]="lineChartUsesCoefficient.labels"
                        [chartType]="lineChartUsesCoefficient.type"
                        [options]="{responsive: true}"></canvas>
                    <canvas baseChart height="120px"
                        class="visible-xs"
                        [datasets]="lineChartUsesCoefficient.datasets"
                        [labels]="lineChartUsesCoefficient.labels"
                        [chartType]="lineChartUsesCoefficient.type"
                        [options]="{responsive: true}"></canvas>
                </div>
            </div>
        </md-card-content>
    </md-card>
</div>
