<div *ngIf="loading"><h2>{{ 'loading' | translate }}...</h2></div>
<div *ngIf="!loading">
	<h1>{{ 'parameters' | translate }}</h1>
	
	<form class="form-horizontal SprintParameters" #parametersForm="ngForm" (ngSubmit)="saveParameters()">
		<div class="row margin-bottom-20px">
			<div class="col-xs-12">
				<button class="btn btn-default" type="button"
						[routerLink]="['/sprints', { sprintId: sprintId }]" 
						[routerLinkActiveOptions]="{exact: false}"
						routerLinkActive="true">
					<span class="fa fa-tasks"></span>
					<span>{{ 'sprints.list' | translate }}</span>
				</button>
				&nbsp;&nbsp;
				<button type="submit" class="btn btn-primary" [disabled]="!parametersForm.valid">
					{{ 'save' | translate }}
				</button>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<label for="name" class="col-sm-3 col-md-2 control-label">
						{{ 'name' | translate }}*
					</label>
					<div class="col-sm-9 col-md-6">
						<input type="text" class="form-control" name="name"
							[placeholder]="'name' | translate"
							[(ngModel)]="sprint.name"
							autofocus
							required>
					</div>
				</div>
			</div>
			<div class="col-xs-12">
				<div class="form-group">
					<label for="startedAt" class="col-sm-3 col-md-2 control-label">
						{{ 'started.at' | translate }}*
					</label>
					<div class="col-sm-9 col-md-6">
						<input type="date" class="form-control" name="startedAt"
							[placeholder]="'started.at' | translate"
							[(ngModel)]="sprint.startedAt"
							autofocus
							required>
					</div>
				</div>
			</div>
		</div>

		<div class="row SprintParameters-Users">
			<div class="col-xs-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						{{ 'team' | translate }}
						<span class="green-color">{{ sprint.teamName }}</span>
					</div>
					<div class="panel-body">
						<div *ngIf="usersInSprint.length > 0">
							<div *ngFor="let user of usersInSprint; index as index">
								<div class="SprintParameters-Users-container">
									<div class="users-avatar SprintParameters-Users-avatar"
										 [style.background-image]="'url(' + userService.getGravatarUrl2(user.email, 24) + ')'">
										</div>
									<div style="display: inline-block">{{ user.name }}</div>
									<div style="float: right">
										<button class="btn btn-danger btn-xs"
												type="button"
												(click)="deleteUser(index)">
											<span class="fa fa-trash-o"></span>
										</button>
									</div>
								</div>
							</div>
						</div>

						<div class="margin-top-10px" *ngIf="usersNotInSprint.length > 0">
							<p class="bold" >{{ 'add.user.to.sprint' | translate }}</p>
							<div class="row">
								<div class="col-xs-12 col-sm-8">
									<select class="form-control"
											placeholder="choose a user">
										<option *ngFor="let user of usersNotInSprint"
												[value]="user.id">
											{{ user.name }}
										</option>
									</select>
								</div>
								<div class="xs-12 visible-xs margin-top-10px">&nbsp;</div>
								<div class="col-xs-12 col-sm-4">
									<button class="btn btn-primary width-100"
											type="button"
											(click)="addUser()">
										{{ 'add' | translate }}
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row margin-bottom-20px">
			<div class="col-xs-12">
				<button class="btn btn-default" type="button"
						[routerLink]="['/sprints', { sprintId: sprintId }]" 
						[routerLinkActiveOptions]="{exact: false}"
						routerLinkActive="true">
					<span class="fa fa-tasks"></span>
					<span>{{ 'sprints.list' | translate }}</span>
				</button>
				&nbsp;&nbsp;
				<button type="submit" class="btn btn-primary" [disabled]="!parametersForm.valid">
					{{ 'save' | translate }}
				</button>
			</div>
		</div>
	</form>
</div>
