<div *ngIf="loading"><h2>{{ 'loading' | translate }}...</h2></div>
<div *ngIf="!loading">
	<h1>{{ 'parameters' | translate }}</h1>

	<form class="form-horizontal" #parametersForm="ngForm" (ngSubmit)="saveParameters()">
		<div class="row margin-bottom-20px">
			<div class="col-xs-12">
				<button class="btn btn-default" type="button"
						[routerLink]="['/sprints', { sprintId: sprintId }]" 
						[routerLinkActiveOptions]="{exact: false}"
						routerLinkActive="true">
					<span class="fa fa-tasks"></span>
					<span>{{ 'sprints.list' | translate }}</span>
				</button>
				&nbsp;&nbsp;
				<button type="submit" class="btn btn-primary" [disabled]="!parametersForm.valid">
					{{ 'save' | translate }}
				</button>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<label for="name" class="col-sm-3 col-md-2 control-label">
						{{ 'name' | translate }}*
					</label>
					<div class="col-sm-9 col-md-6">
						<input type="text" class="form-control" name="name"
							[placeholder]="'name' | translate"
							[(ngModel)]="sprint.name"
							autofocus
							required>
					</div>
				</div>
			</div>

			<div class="col-xs-12">
				<p>{{ sprint.teamName }}</p>
				
				{{ sprint.users | json }}
			</div>
		</div>
	</form>
</div>
