<nav id="navbar" class="mat-elevation-z4">
    <div class="navbar-container">
        <div class="navbar-left">
            <a class="pointer" (click)="toggleSidebar()">
                <md-icon>menu</md-icon>
            </a>
            <a routerLink='/'>
                <span class="app-name">ApiSCRUM</span>
            </a>
        </div>
        <div class="navbar-right"
             *ngIf="userService.user !== null">
            <div class="avatar"
                 [style.background-image]="'url(' + userService.getGravatarUrl() + ')'">
            </div>
            <div class="user-name">
                {{ userService.getFullname() }}
                <br>
                <a routerLink='/logout'>{{ 'signout' | translate }}</a>
            </div>
        </div>
    </div>
</nav>
