<aside id="sidebar" #sidebar [saToggleSidebar]="layoutSidebarService.state">
    <ul *ngIf="layoutSidebarService.items.length > 0" class="list-unstyled">
        <li *ngFor="let item of layoutSidebarService.items">
            <a [routerLink]="item.route" routerLinkActive="active"
               [routerLinkActiveOptions]="{exact: item.routeExact}">
                <mat-icon>{{ item.picto }}</mat-icon>
                &nbsp;
                <span>{{ item.label }}</span>
            </a>
        </li>
    </ul>
</aside>
