<sa-loading *ngIf="loading"></sa-loading>
<div *ngIf="!loading" class="margin-bottom-20px">
    <h1>{{ title }}</h1>

    <form class="form-horizontal" [formGroup]="taskFormGroup" (ngSubmit)="editTask()">
        <div class="row margin-bottom-20px">
            <div class="col-xs-12">
                <button mat-raised-button type="button"
                        [routerLink]="['/sprints', sprintId, 'tasks']"
                        [routerLinkActiveOptions]="{exact: false}"
                        routerLinkActive="true">
                    <mat-icon>keyboard_arrow_left</mat-icon>
                    <span>{{ 'tasks.list' | translate }}</span>
                </button>
                &nbsp;&nbsp;
                <button mat-raised-button type="submit"
                        color="primary"
                        [disabled]="taskFormGroup.invalid">
                    <mat-icon>add</mat-icon>
                    <span>{{ buttonTitle }}</span>
                </button>
            </div>
        </div>

        <mat-card>
            <mat-card-content>
                <div class="row">
                    <p class="col-xs-12 col-sm-6 col-mat-4">
                        <mat-input-container class="width-100">
                            <input matInput type="text" name="name"
                                   [placeholder]="'name' | translate"
                                   formControlName="name"
                                   maxlength="100"
                                   autofocus required>
                            <mat-hint align="end">{{ taskFormGroup.get('name').value.length }} / 100</mat-hint>
                            <mat-error *ngIf="taskFormGroup.get('name').hasError('required')">
                                {{ 'required.name' | translate }}
                            </mat-error>
                        </mat-input-container>
                    </p>
                </div>

                <div class="row">
                    <p class="col-xs-12 col-sm-6 col-mat-4">
                        <mat-input-container class="width-100">
                            <textarea matInput matTextareaAutosize name="description"
                                      [placeholder]="'description' | translate"
                                      [(ngModel)]="description" [ngModelOptions]="{standalone: true}"></textarea>
                        </mat-input-container>
                    </p>
                </div>

                <div class="row">
                    <p class="col-xs-12 col-sm-6 col-mat-4">
                        <mat-input-container class="width-100">
                            <input matInput type="number" name="duration"
                                   min="0.5" max="35" step="0.5"
                                   [placeholder]="'duration.in.hour' | translate"
                                   formControlName="duration"
                                   [readonly]="id !== 0"
                                   required>
                            <span matSuffix>&nbsp;h</span>
                            <mat-error *ngIf="taskFormGroup.get('duration').hasError('required')">
                                {{ 'required.duration' | translate }}
                            </mat-error>
                        </mat-input-container>
                    </p>
                </div>

                <div class="row">
                    <p class="col-xs-12 col-sm-6 col-mat-4">
                        <mat-checkbox color="primary" name="notPlanned"
                                     [(ngModel)]="notPlanned" [ngModelOptions]="{standalone: true}">
                            {{ 'not.planned' | translate }}
                        </mat-checkbox>
                    </p>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="bold margin-top-20px">
                            <h4>{{ 'applications' | translate }}</h4>
                        </div>
                        <div class="margin-bottom-20px">
                            <div class="col-xs-12 col-sm-6 col-mat-4 no-padding"
                                *ngFor="let application of applications; let index = index">
                                <div class="radio-checkbox">
                                    <mat-checkbox color="primary" [name]="'application_' + index" [id]="'application_' + index"
                                                 (change)="toggleApplication($event, index, application.id)"
                                                 [ngModel]="applicationsIds[index]"
                                                 [ngModelOptions]="{standalone: true}">
                                        {{ application.name }}
                                    </mat-checkbox>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card-content>

            <mat-card-actions>
                <div>
                    <button mat-raised-button type="button"
                            [routerLink]="['/sprints', sprintId, 'tasks']"
                            [routerLinkActiveOptions]="{exact: false}"
                            routerLinkActive="true">
                        <mat-icon>keyboard_arrow_left</mat-icon>
                        <span>{{ 'tasks.list' | translate }}</span>
                    </button>
                    &nbsp;&nbsp;
                    <button mat-button type="submit"
                            color="primary"
                            [disabled]="taskFormGroup.invalid">
                        <mat-icon>add</mat-icon>
                        <span>{{ buttonTitle }}</span>
                    </button>
                </div>
            </mat-card-actions>
        </mat-card>
    </form>
</div>
