<div *ngIf="loading"><h2>{{ 'loading' | translate }}...</h2></div>
<div *ngIf="!loading" class="margin-bottom-20px">
	<h1>{{ title }}</h1>

	<div class="radio-checkbox">
		<input type="checkbox" id="planned2" name="planned2">
		<label for="planned2" class="radio-checkbox-label">Test</label>
	</div>

	<form class="form-horizontal" #taskForm="ngForm" (ngSubmit)="editTask()">	
		<div class="row margin-bottom-20px">
			<div class="col-xs-12">
				<button class="btn btn-default" type="button"
						[routerLink]="['/sprints/tasks', { sprintId: sprintId }]" 
						[routerLinkActiveOptions]="{exact: false}"
						routerLinkActive="true">
					<span class="fa fa-tasks"></span>
					<span>{{ 'tasks.list' | translate }}</span>
				</button>
				&nbsp;&nbsp;
				<button type="submit" class="btn btn-primary" [disabled]="!taskForm.valid">
					{{ buttonTitle }}
				</button>
			</div>
		</div>

		<div class="AddTaskForm row">
			<div class="col-xs-12">
				<div class="form-group">
					<label for="name" class="col-sm-3 col-md-2 control-label">
						{{ 'name' | translate }}*
					</label>
					<div class="col-sm-9 col-md-6">
						<input type="text" class="form-control" name="name"
							[placeholder]="'name' | translate"
							[(ngModel)]="name"
							autofocus
							required>
					</div>
				</div>

				<div class="form-group">
					<label for="description" class="col-sm-3 col-md-2 control-label">
						{{ 'description' | translate }}
					</label>
					<div class="col-sm-9 col-md-6">
						<textarea class="form-control" rows="3" name="description" 
								[placeholder]="'description' | translate"
								[(ngModel)]="description"></textarea>
					</div>
				</div>

				<div class="form-group">
					<label for="duration" class="col-sm-3 col-md-2 control-label">
						{{ 'duration.in.hour' | translate }}*
					</label>
					<div class="col-sm-9 col-md-6">
						<input type="number" step="0.5" min="0" max="35"
							   name="duration"
							   class="form-control AddTaskForm-duration"
							   [(ngModel)]="duration"
							   [placeholder]="'duration' | translate"
							   required
							   [readonly]="id !== 0">
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-3 col-md-2 control-label">
						{{ 'not.planned' | translate }}
					</label>
					<div class="col-sm-9 col-md-6 radio-checkbox-container">
						<div class="radio-checkbox">
							<input type="checkbox" name="notPlanned" id="notPlanned">
							<label for="notPlanned" class="radio-checkbox-label">
							</label>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for="applications" class="col-sm-3 col-md-2 control-label">
						{{ 'applications' | translate }}
					</label>
					<div class="col-sm-9 col-md-10 radio-checkbox-container">
						<div class="col-xs-12 col-sm-6 col-md-4 no-padding"
							*ngFor="let application of applications; let index = index">
							<div class="radio-checkbox">
								<input type="checkbox" [name]="'application_' + index"  [id]="'application_' + index"
									(change)="toggleApplication($event, index, application.id)"
									[ngModel]="applicationsIds[index]"
									[ngModelOptions]="{standalone: true}">
								<label [for]="'application_' + index" class="radio-checkbox-label">
									{{ application.name }}
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-xs-12 AddTaskForm-submit">
				<button class="btn btn-default"
						[routerLink]="['/sprints/tasks', { sprintId: sprintId }]"
						[routerLinkActiveOptions]="{exact: false}"
						routerLinkActive="true">
					<span class="fa fa-tasks"></span>
					<span>{{ 'tasks.list' | translate }}</span>
				</button>
				&nbsp;&nbsp;
				<button type="submit" class="btn btn-primary" [disabled]="!taskForm.valid">
					{{ buttonTitle }}
				</button>
			</div>
		</div>
	</form>
</div>
