<div *ngIf="!sprintService.sprint"><h2>{{ 'loading' | translate }}...</h2></div>
<div *ngIf="sprintService.sprint">
    <h1>{{ sprintService.sprint.name }} - {{ 'tasks.list' | translate }}</h1>

    <div class="row" style="margin-bottom: 20px">
        <div class="col-xs-12">
            <button type="button" 
                class="btn btn-default"
                routerLink="/sprints" 
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: false}">
				<span class="fa fa-chevron-left"></span>
                <span class="hidden-xs">{{ 'sprints.list' | translate }}</span>
            </button>
            
            <button type="button" 
                class="btn btn-default"
                routerLink="/sprints" 
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: false}">
				<span class="fa fa-plus"></span>
                <span class="hidden-xs">{{ 'add.task' | translate }}</span>
            </button>
            
            <button type="button" 
                class="btn btn-default"
                routerLink="/sprints" 
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: false}">
				<span class="fa fa-user-plus"></span>
                <span class="hidden-xs">{{ 'add.member' | translate }}</span>
            </button>
        </div>
    </div>
</div>
