<div class="container" class="Auth">
    <div class="Auth-Container">
        <form class="form-signin"  [formGroup]="formGroup" (ngSubmit)="submitForm()">
            <md-toolbar color="primary">
                <h1 class="Auth-Container-Header mat-h1">
                    <md-icon>vpn_key</md-icon>
                    <span class="Auth-Container-Header-title">{{ 'forgotten.password' | translate }}</span>
                </h1>
            </md-toolbar>
            <md-card class="Auth-Container-Card">
                <md-card-content>
                    <div class="Auth-Container-Card-Content">
						<p>
							{{ 'forgotten.password.text' | translate }}
						</p>
                        <p>
                            <md-input-container class="width-100">
                                <input mdInput type="email"
                                       [placeholder]="'email' | translate"
                                       formControlName="email"
                                       value=""
                                       autofocus required>
                                <md-error *ngIf="formGroup.get('email').hasError('pattern')">
                                    {{ 'invalid.email' | translate }}
                                </md-error>
                                <md-error *ngIf="formGroup.get('email').hasError('required')">
                                    {{ 'required.email' | translate }}
                                </md-error>
                            </md-input-container>
                        </p>
                    </div>
                </md-card-content>

                <md-card-actions>
                    <div class="Auth-Container-Card-Actions">
                        <button md-raised-button color="primary" type="submit" [disabled]="formGroup.invalid">
                            {{ 'send' | translate }}
                        </button>
                        <a md-button color="primary" routerLink="/login">{{ 'back' | translate }}</a>
                    </div >
                </md-card-actions>

                <md-card-footer>
                    <p class="text-center text-muted Auth-Container-Card-Footer">
                        {{ 'copyright' | translate }} &copy; {{ currentYear }}
                        <a href="http://www.apitic.com" target="_blank">Apitic</a>
                        - {{ 'all.right.reserved' | translate }}
                    </p>
                </md-card-footer>
            </md-card>
        </form>
    </div>
</div>
