<div class="container" id="auth">
	<div class="row">
		<div class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
			<div class="panel panel-default">
				<div class="panel-body">
					<form class="form-signin" method="POST" (ngSubmit)="submitForm()">
						<h2 class="form-signin-heading">
							<span class="fa fa-lock"></span>
							{{ 'authentication' | translate }}
						</h2>

						<div class="form-group">
							<label for="email">{{ 'email' | translate }}</label>
							<input type="email"
                           		   [(ngModel)]="email"
                                   #inputEmail
								   name="email"
								   class="form-control input-sm" 
								   [placeholder]="'login' | translate" 
								   required 
								   autofocus>
						</div>

						<div class="form-group">
							<label for="password">{{ 'password' | translate }}</label>
							<input type="password" 
                           		   [(ngModel)]="password"
								   name="password" 
								   class="form-control input-sm" 
								   [placeholder]="'password' | translate" 
								   required>
						</div>
						<p class="forgotten-password">
							<a routerLink="/forgotten-password">{{ 'forgotten.password' | translate }}</a>
						</p>
						<p *ngIf="errorMessage" class="alert alert-danger">
							{{ 'bad.login.password' | translate }}
						</p>
						<div class="text-center">
							<button type="submit" class="btn btn-primary">
								{{ 'signin' | translate }}
							</button>
						</div>
					</form>
					<footer class="text-center text-muted">
						{{ 'copyright' | translate }} &copy; {{ currentYear }} 
						<a href="http://www.apitic.com" target="_blank">Apitic</a>
						- {{ 'all.right.reserved' | translate }}
					</footer>
				</div>
			</div>
		</div>
	</div>
</div>
