<div class="container" class="Auth">
    <div class="Auth-Container">
        <form class="form-signin" (ngSubmit)="submitForm()">
            <md-toolbar color="primary">
                <h1 class="Auth-Container-Header mat-h1">
                    <md-icon>lock_outline</md-icon>
                    <span class="Auth-Container-Header-title">{{ 'authentication' | translate }}</span>
                </h1>
            </md-toolbar>
            <md-card class="Auth-Container-Card">
                <md-card-content>
                    <div class="Auth-Container-Card-Content">
                        <p>
                            <md-input-container class="width-100">
                                <input mdInput type="email"
                                       [placeholder]="'email' | translate"
                                       [formControl]="emailFormControl"
                                       value=""
                                       autofocus required>
                                <md-error *ngIf="emailFormControl.hasError('pattern')">
                                    {{ 'invalid.email' | translate }}
                                </md-error>
                                <md-error *ngIf="emailFormControl.hasError('required')">
                                    {{ 'required.email' | translate }}
                                </md-error>
                            </md-input-container>
                        </p>

                        <p>
                            <md-input-container class="width-100">
                                <input mdInput type="password"
                                       [placeholder]="'password' | translate"
                                       [formControl]="passwordFormControl"
                                       value=""
                                       required>
                                <md-error *ngIf="passwordFormControl.hasError('minlength')">
                                    {{ 'too.short.password' | translate }}
                                </md-error>
                                <md-error *ngIf="passwordFormControl.hasError('required')">
                                    {{ 'required.password' | translate }}
                                </md-error>
                            </md-input-container>
                        </p>
                    </div>
                </md-card-content>

                <md-card-actions>
                    <div class="Auth-Container-Card-Actions">
                        <button md-raised-button color="primary" type="submit">
                            {{ 'signin' | translate }}
                        </button>
                        <a md-button color="primary" routerLink="/forgotten-password">
                            {{ 'forgotten.password' | translate }}
                        </a>
                    </div>
                </md-card-actions>

                <md-card-footer>
                    <p class="text-center text-muted Auth-Container-Card-Footer">
                        {{ 'copyright' | translate }} &copy; {{ currentYear }}
                        <a href="http://www.apitic.com" target="_blank">Apitic</a>
                        - {{ 'all.right.reserved' | translate }}
                    </p>
                </md-card-footer>
            </md-card>
        </form>
    </div>
</div>
