<div *ngIf="loading"><h2>{{ 'loading' | translate }}...</h2></div>
<div *ngIf="!loading">
    <h1>Tasks management - {{ sprint.name }}</h1>

    <form [formGroup]="taskFormGroup" (ngSubmit)="saveTask()">
        <div class="row margin-bottom-20px">
            <div class="col-xs-12">
                <button md-button
                        type="button"
                        [routerLink]="['/sprints', sprintId, 'tasks-management']">
                    <span class="fa fa-chevron-left"></span>
                    <span class="hidden-xs">{{ 'back' | translate }}</span>
                </button>
                &nbsp;&nbsp;
                <button md-raised-button color="primary" type="button"
                        [disabled]="taskFormGroup.invalid"
                        (click)="saveTask()">
                    <span class="fa fa-floppy-o"></span>
                    <span>{{ 'save' | translate }}</span>
                </button>
            </div>
        </div>

        <md-card class="margin-bottom-20px">
            <md-card-header>
                <md-card-title>
                    <h4>
                        {{ task.name }}
                        ({{ task.remainingDuration | duration:'hour' }})
                    </h4>
                </md-card-title>
                <md-card-subtitle>
                    <h5>
                        {{ user.firstname + ' ' +  user.lastname }}
                    </h5>
                </md-card-subtitle>
            </md-card-header>

            <md-card-content>
                <div class="row margin-bottom-10px">
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <md-input-container class="width-100">
                            <input mdInput type="number" name="workedDuration"
                                   min="0" max="35" step="0.5"
                                   [placeholder]="'worked.hours' | translate"
                                   formControlName="workedDuration"
                                   required>
                            <span mdSuffix>&nbsp;h</span>
                            <md-error *ngIf="taskFormGroup.get('workedDuration').hasError('required')">
                                {{ 'required.worked.hours' | translate }}
                            </md-error>
                        </md-input-container>
                    </div>
                </div>

                <div class="row margin-bottom-10px">
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <md-input-container class="width-100">
                            <input mdInput type="number" name="remainingDuration"
                                   min="0" max="35" step="0.5"
                                   [placeholder]="'remaining.hours' | translate"
                                   formControlName="remainingDuration"
                                   required>
                            <span mdSuffix>&nbsp;h</span>
                            <md-error *ngIf="taskFormGroup.get('remainingDuration').hasError('required')">
                                {{ 'required.remaining.hours' | translate }}
                            </md-error>
                        </md-input-container>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        Heures dépilées :
                        <span [class.red-color]="task.remainingDuration < +taskFormGroup.get('remainingDuration').value"
                              *ngIf="+taskFormGroup.get('remainingDuration').value > 0">
                            {{ task.remainingDuration - +taskFormGroup.get('remainingDuration').value | duration:'hour' }}
                        </span>
                        <span *ngIf="+taskFormGroup.get('remainingDuration').value <= 0">
                            {{ 0 | duration:'hour' }}
                        </span>
                    </div>
                </div>
            </md-card-content>

            <md-card-actions>
                <button md-button
                        type="button"
                        [routerLink]="['/sprints', sprintId, 'tasks-management']">
                    <span class="fa fa-chevron-left"></span>
                    <span class="hidden-xs">{{ 'back' | translate }}</span>
                </button>
                &nbsp;&nbsp;
                <button md-button color="primary" type="button"
                        [disabled]="taskFormGroup.invalid"
                        (click)="saveTask()">
                    <span class="fa fa-floppy-o"></span>
                    <span>{{ 'save' | translate }}</span>
                </button>
            </md-card-actions>
        </md-card>
    </form>
</div>
