<sa-loading *ngIf="loading"></sa-loading>
<div *ngIf="!loading" class="TasksManagement">
    <h1>{{ sprintTasksManagementService.sprint.name }}</h1>

    <div class="row margin-bottom-20px">
        <div class="col-xs-12">
            <button md-raised-button type="button"
                    [routerLink]="['/sprints', sprintId, 'tasks-management-list']">
                <md-icon>keyboard_arrow_left</md-icon>
                <span class="hidden-xs">{{ 'back' | translate }}</span>
            </button>
        </div>
    </div>

    <div class="TasksManagement-Date">
        <h4>{{ 'date:' | translate }} {{ date | moment:'DD/MM/YYYY' }}</h4>
    </div>

    <md-card *ngFor="let user of sprintTasksManagementService.users" class="TasksManagement-List">
        <md-card-content class="overflow-auto">
            <h3 class="info-color TasksManagement-List-Header">
                <span>{{ user.name }}</span>
                <button md-button type="button" class="TasksManagement-List-Add"
                        [routerLink]="['/sprints', sprintId, 'tasks-management', 'new', user.id]">
                    <span class="TasksManagement-List-Add-Container">
                        <md-icon class="TasksManagement-List-Add-Container-Icon">add_circle_outline</md-icon>
                        <span class="hidden-xs TasksManagement-List-Add-Container-Label">
                            {{ 'add.task' | translate }}
                        </span>
                    </span>
                </button>
            </h3>

            <table class="table table-striped table-bordered table-hover table-condensed table-responsive">
                <thead>
                    <tr>
                        <th width="30%">{{ 'task' | translate }}</th>
                        <th width="10%" class="hidden-xs">{{ 'initital.duration' | translate }}</th>
                        <th width="10%" class="hidden-xs">{{ 'remaining.duration' | translate }}</th>
                        <th width="10%">{{ 'worked.hours' | translate }}</th>
                        <th width="10%">{{ 'decrement.hours' | translate }}</th>
                        <th width="10%" class="hidden-xs">{{ 'difference' | translate }}</th>
                        <th width="10%">{{ 'perf' | translate }}</th>
                        <th width="10%">{{ 'action' | translate }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let task of user.tasks">
                        <td align="left" valign="middle">
                            {{ task.name }}
                        </td>
                        <td valign="middle" class="text-center hidden-xs no-wrap">
                            {{ task.initialDuration | duration:'hour' }}
                        </td>
                        <td valign="middle" class="text-center hidden-xs no-wrap">
                            {{ task.remainingDuration | duration:'hour' }}
                        </td>
                        <td valign="middle" class="text-center no-wrap">
                            {{ task.workedDuration | duration:'hour' }}
                        </td>
                        <td valign="middle" class="text-center no-wrap">
                            {{ task.duration | duration:'hour' }}
                        </td>
                        <td valign="middle" class="text-center hidden-xs no-wrap">
                            {{ task.difference | duration:'hour' }}
                        </td>
                        <td valign="middle" class="text-center no-wrap">
                            {{ task.performance | percentFr:0 }}
                        </td>
                        <td align="center" valign="middle">
                            <button md-button type="button" class="mat-button-small-width"
                                    [routerLink]="['/sprints', sprintId, 'tasks-management', 'edit', user.id, task.id]">
                                <md-icon class="mat-icon-20px">mode_edit</md-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th width="50%" colspan="3" class="hidden-xs">{{ 'total' | translate }}</th>
                        <th width="50%" class="visible-xs">{{ 'total' | translate }}</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th class="hidden-xs"></th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </md-card-content>
    </md-card>

    <div class="row margin-bottom-20px">
        <div class="col-xs-12">
            <button md-raised-button type="button"
                    [routerLink]="['/sprints', sprintId, 'tasks-management-list']">
                <md-icon>keyboard_arrow_left</md-icon>
                <span class="hidden-xs">{{ 'back' | translate }}</span>
            </button>
        </div>
    </div>
</div>
