<sa-loading *ngIf="loading"></sa-loading>
<div *ngIf="!loading">
    <h1>Tasks management - {{ sprint.name }}</h1>

    <form [formGroup]="taskFormGroup" (ngSubmit)="saveTask()">
        <div class="row margin-bottom-20px">
            <div class="col-xs-12">
                <button mat-raised-button type="button"
                        [routerLink]="['/sprints', sprintId, 'tasks-management']">
                    <mat-icon>keyboard_arrow_left</mat-icon>
                    <span class="hidden-xs">{{ 'back' | translate }}</span>
                </button>
                &nbsp;&nbsp;
                <button mat-raised-button color="primary" type="button"
                        [disabled]="taskFormGroup.invalid"
                        (click)="saveTask()">
                    <mat-icon>save</mat-icon>
                    <span>{{ 'save' | translate }}</span>
                </button>
            </div>
        </div>

        <mat-card class="margin-bottom-20px">
            <mat-card-header>
                <mat-card-title>
                    <h4 *ngIf="isEdit">
                        {{ task.name }}
                        ({{ task.remainingDuration | duration:'hour' }})
                    </h4>
                    <h4 *ngIf="!isEdit">
                        {{ 'new.task' | translate }}
                    </h4>
                </mat-card-title>
                <mat-card-subtitle>
                    <h5>
                        {{ user.firstname + ' ' + user.lastname }}
                    </h5>
                </mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
                <div class="row margin-bottom-20px" *ngIf="!isEdit">
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <mat-form-field class="width-100">
                            <mat-select [placeholder]="'choose.task' | translate"
                                        formControlName="taskId" required>
                                <mat-option>{{ 'none' | translate }}</mat-option>
                                <mat-option *ngFor="let task of tasks" [value]="task.id">
                                    {{ task.label }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row margin-bottom-10px">
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <mat-input-container class="width-100">
                            <input matInput type="number" name="workedDuration"
                                   min="0" max="35" step="0.5"
                                   formControlName="workedDuration"
                                   [placeholder]="'worked.hours' | translate"
                                   [autofocus]="task !== null" required>
                            <span matSuffix>&nbsp;h</span>
                            <mat-error *ngIf="taskFormGroup.get('workedDuration').hasError('required')">
                                {{ 'required.worked.hours' | translate }}
                            </mat-error>
                        </mat-input-container>
                    </div>
                </div>

                <div class="row margin-bottom-10px">
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <mat-input-container class="width-100">
                            <input matInput type="number" name="remainingDuration"
                                   min="0" max="35" step="0.5"
                                   [placeholder]="'remaining.hours' | translate"
                                   formControlName="remainingDuration"
                                   required>
                            <span matSuffix>&nbsp;h</span>
                            <mat-error *ngIf="taskFormGroup.get('remainingDuration').hasError('required')">
                                {{ 'required.remaining.hours' | translate }}
                            </mat-error>
                        </mat-input-container>
                    </div>
                </div>

                <div class="row" *ngIf="isEdit">
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        Heures dépilées :
                        <span [class.red-color]="task.remainingDuration < +taskFormGroup.get('remainingDuration').value"
                              *ngIf="+taskFormGroup.get('remainingDuration').value > 0">
                            {{ task.remainingDuration - +taskFormGroup.get('remainingDuration').value | duration:'hour' }}
                        </span>
                        <span *ngIf="+taskFormGroup.get('remainingDuration').value <= 0">
                            {{ 0 | duration:'hour' }}
                        </span>
                    </div>
                </div>
            </mat-card-content>

            <mat-card-actions>
                <button mat-button type="button"
                        [routerLink]="['/sprints', sprintId, 'tasks-management']">
                    <mat-icon>keyboard_arrow_left</mat-icon>
                    <span class="hidden-xs">{{ 'back' | translate }}</span>
                </button>
                &nbsp;&nbsp;
                <button mat-button color="primary" type="button"
                        [disabled]="taskFormGroup.invalid"
                        (click)="saveTask()">
                    <mat-icon>save</mat-icon>
                    <span>{{ 'save' | translate }}</span>
                </button>
            </mat-card-actions>
        </mat-card>
    </form>
</div>
