<sa-loading *ngIf="loading"></sa-loading>
<div *ngIf="!loading" class="TeamsList margin-bottom-20px">
    <h1>{{ title | translate }}</h1>

    <div class="row margin-bottom-20px">
        <div class="col-xs-12">
            <button mat-raised-button type="button" routerLink="/teams">
                <mat-icon>keyboard_arrow_left</mat-icon>
                <span class="hidden-xs">{{ 'teams.list' | translate }}</span>
            </button>
        </div>
    </div>

    <form class="form-horizontal TeamEdit" [formGroup]="formGroup" (ngSubmit)="saveTeam()">
        <mat-card class="margin-bottom-20px">
            <mat-card-content>
                <div class="row">
                    <p class="col-xs-12 col-sm-6 col-md-4">
                        <mat-input-container class="width-100">
                            <input matInput type="text" name="name"
                                   [placeholder]="'name' | translate"
                                   formControlName="name"
                                   maxlength="50"
                                   autofocus required>
                            <mat-hint align="end">{{ formGroup.get('name').value.length }} / 50</mat-hint>
                            <mat-error *ngIf="formGroup.get('name').hasError('required')">
                                {{ 'required.name' | translate }}
                            </mat-error>
                        </mat-input-container>
                    </p>
                </div>

                <div class="row">
					<p class="col-xs-12 col-sm-6 col-md-4">
						<mat-form-field class="width-100">
							<mat-select [placeholder]="'owner' | translate"
										formControlName="ownerId" required>
								<mat-option>{{ 'none' | translate }}</mat-option>
								<mat-option *ngFor="let user of users" [value]="user.id">
									{{ user.firstname + ' ' + user.lastname }}
								</mat-option>
							</mat-select>
                            <mat-error *ngIf="formGroup.get('ownerId').hasError('required')">
                                {{ 'required.owner' | translate }}
                            </mat-error>
						</mat-form-field>
					</p>
				</div>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="bold margin-top-20px">
                            <h4>{{ 'users' | translate }}</h4>
                        </div>
                        <div class="margin-bottom-20px">
                            <div class="col-xs-12 col-sm-6 col-md-4 no-padding"
                                *ngFor="let user of users; let index = index">
                                <div class="radio-checkbox">
                                    <mat-checkbox color="primary" [name]="'user_' + index" [id]="'user_' + index"
                                                 (change)="toggleUser($event, index, user.id)"
                                                 [ngModel]="usersIds[index]"
                                                 [ngModelOptions]="{standalone: true}">
                                        {{ user.firstname + ' ' + user.lastname }}
                                    </mat-checkbox>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card-content>
            
            <mat-card-actions>
                <div>
                    <button mat-button type="button" routerLinkActive="true"
                            [routerLink]="['/teams']" [routerLinkActiveOptions]="{exact: false}">
                        <mat-icon>keyboard_arrow_left</mat-icon>
                        <span>{{ 'teams.list' | translate }}</span>
                    </button>
                    &nbsp;&nbsp;
                    <button mat-button type="submit" color="primary"
                            [disabled]="formGroup.invalid">
                        <mat-icon>add</mat-icon>
                        <span>{{ buttonTitle }}</span>
                    </button>
                </div>
            </mat-card-actions>
        </mat-card>
    </form>
</div>
