@import "variables.scss";

.Auth {
    position:         absolute;
    top:              0px;
    left:             0px;
    height:           100%;
    width:            100%;
    background-color: #eee;

    &-Container {
        display:         flex;
        justify-content: center;
        margin-top:      50px;

        @media screen and (min-width: 600px) {
            &-Card {
                width: 400px;
            }
        }

        &-Card {
            &-Content {

            }

            &-Actions {
                display:         flex;
                justify-content: space-around;
            }

            &-Footer {
                font-size: 11px;
            }
        }
    }
}
