@import 'variables.scss';

// ------
// Navbar
// ------
#navbar {
    position:         fixed;
    display:          block;
    top:              0px;
    left:             0px;
    right:            0px;
    height:           50px;
    border-bottom:    1px solid #1a1a1a;
    background-color: #222;
    z-index:          1000;

    .navbar-container {
        display:         flex;
        flex-direction:  row;
        flex-wrap:       nowrap;
        justify-content: space-between;
        align-items:     center;
        height:          100%;

        .navbar-left {
            flex:        1 auto;
            margin-left: 15px;
            display:     flex;
            align-items: center;

            a {
                font-size:   20px;
                color:       $lightColor;
                transition:  0.3s;
                display:     flex;
                align-items: center;
            }

            a:hover {
                color: $primayLightColor;
            }

            .app-name {
                display:     inline-block;
                margin-left: 6px;
                font-size:   18px;
                color:       $lightColor;
            }
        }

        .navbar-right {
            flex:            4 auto;
            margin-right:    15px;
            text-align:      right;
            color:           $lightColor;
            display:         flex;
            flex-direction:  row;
            flex-wrap:       nowrap;
            justify-content: flex-end;
            align-items:     center;

            .avatar {
                width:               32px;
                height:              32px;
                background-size:     cover;
                background-position: center;
                border-radius:       50%;
            }

            .user-name {
                @include textEllipsis();

                margin-left: 10px;
                max-width:   120px;
                font-size:   13px;
                font-weight: $fontWeightNormal;

                a {
                    color: $primayLightColor;
                }
            }
        }
    }
}

// --------------
// Main container
// --------------
#main-container {
    margin-top: 50px;
    width:      100%;
    //height:     calc(100vh - 92px);

    // -------
    // Sidebar
    // -------
    #sidebar {
        @include unselectable();
        width:            220px;
        height:           calc(100% - 42px); // calc(100vh - 92px);
        background-color: #2a2a2a;
        transition:       0.3s;
        overflow:         auto;

        .sidebar-header {
            padding:     10px;
            text-align:  center;
            font-size:   18px;
            font-weight: 500;
            color:       $primayLightColor;
        }

        ul {
            padding:    10px;
            //margin-top: 10px;

            li {
                a, a:visited {
                    @include textEllipsis();

                    display:     flex;
                    align-items: center;
                    width:       100%;
                    margin:      10px 0px;
                    font-size:   15px;
                    color:       $lightColor;
                }

                a:hover, a:active, a:focus {
                    color:           $primayLightColor;
                    text-decoration: none;
                }

                a.active {
                    color: $primayLightColor;
                }
            }
        }
    }

    // -------
    // Content
    // -------
    #content {
        //height:   calc(100vh - 92px);
        overflow: auto;

        h1 {
            color: $primayColor;
        }
    }
}

// Ecran inférieur ou égal à 640px
// -------------------------------
//@media screen and (max-width: 640px) {
    #main-container {
        #sidebar {
            position: absolute;
            left:     0px;
            z-index:  100;
        }
    }
//}

// Ecran supérieur à 640px
// -----------------------
/*@media screen and (min-width: 641px) {
    #main-container {
        display:         flex;
        flex-direction:  row;
        flex-wrap:       nowrap;
        justify-content: space-between;
        align-items:     stretch;

        // -------
        // Sidebar
        // -------
        #sidebar {
            flex: 1 auto;
        }

        // -------
        // Content
        // -------
        #content {
            flex: 1 auto;
        }
    }
}*/

// ------
// Footer
// ------
.footer {
    position:         absolute;
    bottom:           0;
    width:            100%;
    height:           42px;
    // line-height:      42px;
    // background-color: #222;
    // border-top:       1px solid #1a1a1a;

    .footer-text {
        padding-top: 13px;
        font-size:   11px;
        text-align:  center;

        a {
            color: $primayColor;
        }
    }
}
