@import 'variables.scss';

// ------
// Navbar
// ------
#navbar {
    position:         fixed;
    display:          block;
    top:              0px;
    left:             0px;
    right:            0px;
    height:           50px;
    border-bottom:    1px solid #000;
    background-color: #222;

    .navbar-container {
        display:         flex;
        flex-direction:  row;
        flex-wrap:       nowrap;
        justify-content: space-between;
        align-items:     center;
        height:          100%;

        .navbar-left {
            flex:        1 auto;
            margin-left: 15px;

            a {
                font-size:  20px;
                color:      $lightColor;
                transition: 0.3s;
            }

            a:hover {
                color: $greenColor;
            }
        }

        .navbar-right {
            flex:            4 auto;
            margin-right:    15px;
            text-align:      right;
            color:           $lightColor;
            display:         flex;
            flex-direction:  row;
            flex-wrap:       nowrap;
            justify-content: flex-end;
            align-items:     center;

            .avatar {
                width:               30px;
                height:              30px;
                background-size:     cover;
                background-position: center;
                border-radius:       50%;
                border:              1px solid $mediumLightColor;
            }

            .user-name {
                margin-left: 10px;
                font-size:   13px;
                font-weight: $fontWeightLight;
            }
        }
    }
}

// --------------
// Main container
// --------------
#main-container {
    display:         flex;
    flex-direction:  row;
    flex-wrap:       nowrap;
    justify-content: space-between;
    align-items:     stretch;
    margin-top:      50px;
    width:           100%;
    height:          calc(100vh - 92px);

    // -------
    // Sidebar
    // -------
    #sidebar {
        @include unselectable();

        flex:             1 auto;
        width:            220px;
        height:           calc(100vh - 92px);
        background-color: #2a2a2a;
        transition:       0.15s;
        overflow:         auto;

        .sidebar-header {
            padding:     10px;
            text-align:  center;
            font-size:   18px;
            font-weight: 500;
            color:       $greenColor;
        }

		ul {
			padding: 10px;

			li {
				color: $lightColor;

				a, a:visited {
                    display: inline-block;
                    width:   100%;
					color:   $lightColor;
				}

				a:hover, a:active, a:focus {
					color:           $greenColor;
					text-decoration: none;
				}

                a.active {
                    color:           $greenColor;
                }
			}
		}
    }

    // -------
    // Content
    // -------
    #content {
        flex:     1 auto;
        height:   calc(100vh - 92px);
		// padding:  10px;
        overflow: auto;

		h1 {
			color: $greenColor;
		}
    }
}

// ------
// Footer
// ------
.footer {
    position:         absolute;
    bottom:           0;
    width:            100%;
    height:           42px;
    background-color: #222;
    border-top:       1px solid #000;

    .footer-text {
        padding-top: 15px;
        font-size:   11px;
        text-align:  center;
    }
}
