@import 'variables.scss';

html {
    position:   relative;
    min-height: 100%;
}

body {
    font-family:   $fontFamily;
    font-weight:   300;
    margin-bottom: 35px;
}

button {
    @include noOutline();
}

table.table {
    margin-top: 0px;
}

.table > tbody > tr > td, 
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th
{
    vertical-align: inherit;
}

// ---------
// Générique
// ---------
.pointer {
    cursor: pointer;
}

.italic {
    font-style: italic;
}

.normal {
    font-weight: 300;
}

.bold {
    font-weight: 500;
}

.green-color {
    color: $greenColor;
}

.margin-top-20px {
    margin-top: 20px;
}

.margin-bottom-20px {
    margin-bottom: 20px;
}

// ---------
// Bootstrap
// ---------
.btn {
    border-radius: 1px;
}

.btn:focus, .btn:focus, .btn:active, .btn:active:focus {
    @include noOutline();
}

.btn-primary {
    background-color: $greenColor;
    border-color:     darken($greenColor, 5%);
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: darken($greenColor, 5%) !important;
    border-color:     darken($greenColor, 10%) !important;
    box-shadow:       none !important;
}

input.form-control, textarea.form-control, select.form-control,
input.form-control:hover, textarea.form-control:hover, select.form-control:hover,
input.form-control:focus, textarea.form-control:focus, select.form-control:focus {
    border-radius: 0px;
    box-shadow:    none;
}

input.form-control:hover, textarea.form-control:hover, select.form-control:hover,
input.form-control:focus, textarea.form-control:focus, select.form-control:focus {
    border-color: $greenColor;
}

label {
    font-weight: 500;
}

.input-group-sm > .form-control,
.input-group-sm > .input-group-addon,
.input-group-sm > .input-group-btn > .btn,
.list-group-item:last-child,
.list-group-item:first-child,
.input-group-addon {
    border-radius: 1px;
}

.panel {
    border-radius: 1px;
    box-shadow:    none;
}

.alert {
    border-radius: 1px;
}

.table > thead > tr > th {
    font-weight: 500;
}

.table > tbody > tr > td {
    font-size: 13px;
}

th, td {
    border-bottom: 1px solid #ddd;
    margin:        10px;
}

table {
    margin-top: 10px;
    width:      100%;
}

.margin2 {
    margin:      2px 4px 4px 2px;
    white-space: normal;
}

a, a:visited {
    color:      $greenColor;
    transition: 0.3s;
}

a:hover, a:active, a:focus {
    color:           darken($greenColor, 10%);
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: $fontWeightMedium;
}

h1 {
    font-size:     32px;
    margin-bottom: 25px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}

a.list-group-item {
    color: $darkColor;

    .list-group-item-heading {
        color: $greenColor;
    }
}

.progress {
    height:           16px;
    margin-bottom:    10px;
    border-radius:    0px;
    box-shadow:       none;
    background-color: #eee;

    .progress-bar {
        line-height: 16px;
        font-size:   11px;
    }
}

// ----------
// ng2-toasty
// -----------
#toasty .toast.toasty-theme-material .toast-text .toast-title {
    text-transform: none;
}

// ---------------------
// AddTaskForm component
// ---------------------
.AddTaskForm {
    &-duration {
        width: 100px;
    }

    &-planned {
        margin-left: 15px !important;
    }

    &-submit {
        margin-top: 20px;
    }
}

