<div *ngIf="!sprintService.sprint"><h2>{{ 'loading' | translate }}...</h2></div>
<div *ngIf="sprintService.sprint">
    <h1>{{ sprintService.sprint.name }}</h1>

    <div class="row" style="margin-bottom: 20px">
        <div class="col-xs-12">
            <button type="button" 
                class="btn btn-default"
                routerLink="/sprints/list" 
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: false}">
                {{ 'sprints.list' | translate }}
            </button>
            
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="row">
                        <div class="col-xs-7">
                            {{ 'initial.duration' | translate }}
                        </div>
                        <div class="col-xs-5 bold">
                            {{ sprintService.initialDuration | duration:'hour' }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-7">
                            {{ 'added.duration' | translate }}
                        </div>
                        <div class="col-xs-5 bold">
                            {{ sprintService.addedDuration | duration:'hour' }}
                            <span class="normal">
                                ({{ sprintService.addedDuration / sprintService.totalDuration * 100 | percentFr }})
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-7">
                            {{ 'total.duration' | translate }}
                        </div>
                        <div class="col-xs-5 bold">
                            {{ sprintService.totalDuration | duration:'hour' }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-7">
                            {{ 'total.duration.per.user' | translate }}
                        </div>
                        <div class="col-xs-5 bold">
                            {{ sprintService.totalDuration / sprintService.averageWorkedHoursPerDay | duration:'hour' }} / pers.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-7">
                            {{ 'remaining.duration' | translate }}
                        </div>
                        <div class="col-xs-5 bold">
                            {{ sprintService.remainingDuration | duration:'hour' }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-7">
                            {{ 'remaining.duration.per.user' | translate }}
                        </div>
                        <div class="col-xs-5 bold">
                            {{ sprintService.remainingDuration / sprintService.averageWorkedHoursPerDay | duration:'hour' }} / pers.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-7">
                            {{ 'total.tasks.duration' | translate }}
                        </div>
                        <div class="col-xs-5 bold">
                            {{ sprintService.totalTaskUserDuration | duration:'hour' }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-7">
                            {{ 'total.worked.duration' | translate }}
                        </div>
                        <div class="col-xs-5 bold">
                            {{ sprintService.totalTaskUserWorkedDuration | duration:'hour' }}
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-1 col-md-4 col-lg-offset-1 col-lg-4">
                    <canvas baseChart height="180px"
                            [data]="pieChartTotalRemainingHours.data"
                            [labels]="pieChartTotalRemainingHours.labels"
                            [chartType]="pieChartTotalRemainingHours.type"
                            [options]="{responsive: false}"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div>
        <h2></h2>
        <table class="table table-striped table-bordered table-hover table-condensed">
            <thead>
                <tr>
                    <th>{{ 'name' | translate }}</th>
                    <th>{{ 'coefficient' | translate }}</th>
                    <th>{{ 'duration' | translate }}</th>
                    <th>{{ 'worked.duration' | translate }}</th>
                    <th>{{ 'performance' | translate }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of sprintService.usersInformation">
                    <td align="left" valign="middle">{{ user.name }}</td>
                    <td align="right" valign="middle">{{ user.coefficient | numberFr:'2' }}</td>
                    <td align="right" valign="middle">{{ user.duration | duration:'hour' }}</td>
                    <td align="right" valign="middle">{{ user.workedDuration | duration:'hour' }}</td>
                    <td align="right" valign="middle">{{ user.performance | percentFr:2 }}</td>
                </tr>
            </tbody>
        </table>
        <div class="row" style="margin-bottom: 20px">
            <div class="col-xs-12">
                <canvas baseChart height="80px"
                    [datasets]="lineChartUsesCoefficient.datasets"
                    [labels]="lineChartUsesCoefficient.labels"
                    [chartType]="lineChartUsesCoefficient.type"
                    [options]="{responsive: true}"></canvas>
            </div>
        </div>
    </div>
</div>

            